<% provide(:page_name, "home") %>

<h1>Angela Pedroso Tonon</h1>

<p>
  Welcome to my home page. 
  I graduated from <%= link_to 'UNESP', 'http://www.unesp.br/' %> with a BS in Biology. 
  I received my master's degree and PhD from <%= link_to 'University of São Paulo', 'http://www5.usp.br/' %> also in Biology.
  I'm currently a postdoc at the 
  <%= link_to 'Biochemestry Departament of the University of São Paulo', 'http://www2.iq.usp.br/bioquimica/' %>. 
  In these pages you will find some informations about me and my work.
  I also show some of the pictures I like. Feel free to browse around! 
</p>

<hr/>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'h1.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'h2.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'h3.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'h4.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'h5.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'h6.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'h7.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'h8.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
</ul>
