<% provide(:page_name, "links") %>

<h1>Links</h1>

<p>
	A collection of links related to me I found on the web:
</p>

<ul class="unstyled">
	<li>
		<%= link_to 'Link 01', 
		'http://www.bv.fapesp.br/en/pesquisador/40567/angela-pedroso-tonon/' %>
	</li>

	<li>
		<%= link_to 'Link 02', 
		'http://dgp.cnpq.br/buscaoperacional/detalheest.jsp?est=5829342541857197' %>
	</li>

	<li>
		<%= link_to 'Link 03',
		'http://www.usp.br/aun/imprimir.php?id=3955' %>
	</li>

	<li>
		<%= link_to 'Link 04', 
		'http://precedings.nature.com/users/cb8df91719e1b76ff3ddf5dd7469e7e1' %>
	</li>
		
	<li>
		<%= link_to 'Link 05', 
		'http://journalogy.net/Author/23579613/angela-pedroso-tonon' %>
	</li>

	<li>
		<%= link_to 'Link 06', 
		'http://www.geocities.ws/HotSprings/Sauna/9947/angela.html' %>
	</li>

	<li>
		<%= link_to 'Link 07', 
		'http://www.dominiopublico.gov.br/pesquisa/PesquisaObraForm.do?select_action=&co_autor=84744' %>
	</li>

	<li>
		<%= link_to 'Link 08', 
		'http://www.sbfic.org.br/cbfic2012/ocs-2.3.4/index.php/xivcbfic/congresso/search/authors/view?firstName=Angela&middleName=Pedroso&lastName=Tonon&affiliation=Universidade%20de%20S%C3%A3o%20Paulo&country=BR' %>
	</li>

	<li>
		<%= link_to 'Link 09', 
		'http://pubget.com/profile/author/Angela%20Pedroso%20Tonon?escape=false&q=authors%3A%22Angela+Pedroso+Tonon%22&repo=arxiv' %>
	</li>

	<li>
		<%= link_to 'Link 10', 
		'http://link.springer.com/content/pdf/10.1007%2Fs10811-007-9174-7.pdf' %>
	</li>

	<li>
		<%= link_to 'Link 11', 
		'http://www.scielo.br/scielo.php?pid=S0037-86822001000400015&script=sci_arttext' %>
	</li>

	<li>
		<%= link_to 'Link 12', 
		'http://www.sciencedirect.com/science/journal/00144894/108/3-4' %>
	</li>

	<li>
		<%= link_to 'Link 13', 
		'http://www.ioc.fiocruz.br/laverandeane/historico/2002/index.php' %>
	</li>

	<li>
		<%= link_to 'Link 14', 
		'http://www.newsrx.com/newsletters/Malaria-Weekly/2005-03-07/030720053332MW.html' %>
	</li>

	<li>
		<%= link_to 'Link 15', 
		'http://www.newsrx.com/newsletters/Malaria-Weekly/2005-04-04/0404200533310MW.html' %>
	</li>

	<li>
		<%= link_to 'Link 16', 
		'http://www.deepdyve.com/lp/springer-journals/rna-isolation-method-for-polysaccharide-rich-algae-agar-producing-hcOArd0bwz' %>
	</li>

	<li>
		<%= link_to 'Link 17', 
		'http://www.scientificcircle.com/en/18172/low-sensitivity-polymerase-chain-reaction-diagnosis-brazil/' %>
	</li>

	<li>
		<%= link_to 'Link 18', 
		'http://www.plasmodium-falciparum.com/authors/angela-pedroso-tonon.html' %>
	</li>

	<li>
		<%= link_to 'Link 19', 
		'http://www.labome.org/expert/brazil/wunderlich/gerhard-wunderlich-728419.html' %>
	</li>

	<li>
		<%= link_to 'Link 20', 
		'http://www.readcube.com/articles/10.1007/s10811-007-9174-7' %>
	</li>

	<li>
		<%= link_to 'Link 21', 
		'http://ifopbib.blogspot.com/2008_01_27_archive.html' %>
	</li>
</ul>