<% provide(:page_name, "media") %>

<h1>Media</h1>

<p>
	Just some random pictures I like.
</p>

<hr />

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm1.jpeg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm2.jpeg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm3.jpeg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm4.jpeg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm5.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm6.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm7.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm8.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm9.jpeg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm10.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm11.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'm12.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
</ul>

<hr />

<p>Take a look at my cat opening a door:</p>
<iframe width="420" height="315" src="http://www.youtube.com/embed/90Con1WHKDo" frameborder="0" allowfullscreen></iframe>