<% provide(:page_name, "publications") %>

<h1>List of Publications</h1>

<p class="text-warning">
	(this list may not be updated)
</p>

<ul>
	<li>
		<strong>TONON A P</strong>, OLIVEIRA M C, MARIANHO-SORIANO E, COLEPICOLO P. 
		<%= link_to 'Absorption of metals and characterization of chemical elements present in three species of Gracilaria 
		(Gracilariaceae) Greville: a genus of economical importance', 
		'http://www.scielo.br/scielo.php?pid=S0102-695X2011000200024&script=sci_arttext' %>. 
		Revista Brasileira de Farmacognosia (Impresso), v. 21, p. 355-365, 2011.
	</li>
	<li>
		CORTEZ D A, <strong>TONON A P</strong>, COLEPICOLO P, VENCIO R.
		<%= link_to 'Combining P values to improve classification of differential gene 
		expression in the HTself software', 'http://www.ncbi.nlm.nih.gov/pubmed/22180073' %>. 
		Genetics and Molecular Research, v. 10, p. 3586-3595, 2011.
	</li>
	<li>
	 	FALCÃO V, <strong>TONON A P</strong>, OLIVEIRA M C, COLEPICOLO P.
		<%= link_to 'RNA Isolation method for polysaccharide rich algae: agar producing Gracilaria tenuistipitata (Rhodophyta)',
		'http://link.springer.com/article/10.1007%2Fs10811-007-9174-7' %>. 
		Journal of Applied Phycology, v. 20, p. 9-12, 2008.
 	</li>
 	<li>
		MARRELLI, M T, <strong>TONON, A P</strong>, Souza L F, MARQUES R C, LABRUNA M B, MATIOLI R S, SCHUMAKER T T. 
		<%= link_to 'Taxonomic and phylogenetic relationships between Neotropical species of ticks from genus Amblyomma 
		(Acari : Ixodidae) inferred from second internal transcribed spacer sequences of rDNA',
		'http://www.ncbi.nlm.nih.gov/pubmed/17427690' %>.
		Journal of Medical Entomology, v. 44, p. 222-228, 2007.
	</li>
	<li>
	 	CARDOZO K H, GUARATINI T, BARROS M P, FALCÃO V, <strong>TONON A P</strong>, LOPES P, TORRES M C, CAMPOS S, COLEPICOLO P. 
	 	<%= link_to 'Metabolites from algae with economical impact',
	 	'http://www.sciencedirect.com/science/article/pii/S1532045606001530' %>. 
	 	Comparative Biochemistry and Physiology. C, Toxicology & Pharmacology, v. 1, p. 1-11, 2006.
 	</li>
 	<li>
	 	<strong>TONON A P</strong>,  SILVEIRA L, WUNDERLICH G, FERREIRA M U. 
	 	<%= link_to 'Plasmodium falciparum: sequence diversity and antibody recognition of the Merozoite surface protein-2 
	 	(MSP-2) in Brazilian Amazonia',
	 	'http://www.ncbi.nlm.nih.gov/pubmed/15582508' %>. 
	 	Experimental Parasitology, v. 108, p. 114-25, 2004.
 </li>
 <li>
	CARVALHO A, PINTO N E, AMPNETO A, CARDOZO K H M, BRIGAGÃO M R P, BARROS M P, GUARATINI T, FALCÃO V R, OLIVEIRA M C, 
	COLEPICOLO P, <strong>TONON A P</strong>. 
	<%= link_to 'Circadian Protection Against Oxidative Stress in Marine Algae',
	'http://www.cepema.usp.br/publicacoes/artigos/circadian-protection-against-oxidative-stress-in-marine-algae/' %>. 
	Hypnos (São Paulo), v. 1, p. 142-157, 2004.
	</li>
	<li>
		FERREIRA, M U, RIBEIRO W L, <strong>TONON A P</strong>. 
		<%= link_to 'Sequence diversity and evolution of the malaria vaccine candidate merozoite surface protein-1 (MSP-1) of 
		Plasmodium falciparum', 
		'http://www.ncbi.nlm.nih.gov/pubmed/12568716' %>. 
		Gene (Amsterdam), v. 304, p. 65-75, 2003.
	</li>
	<li>
		BRIENZE W V, <strong>TONON A P</strong>, PEREIRA F, FERREIRA M U. 
		<%= link_to 'Low sensitivity of polymerase chain reaction for diagnosis of tuberculous meningitis in southeastern Brazil',
		'http://www.ncbi.nlm.nih.gov/pubmed/11562736' %>. 
		Revista da Sociedade Brasileira de Medicina Tropical, v. 34, p. 389-393, 2001.
	</li>	
	<li>
		HOFFMANN H E, RIBEIRO W L, <strong>TONON A P</strong>, PEREIRA F, FERREIRA M U. 
		<%= link_to 'Geographical patterns of allelic diversity in the Plasmodium falciparum malaria-vaccine candidate, merozoite surface protein-2',
		'http://www.ncbi.nlm.nih.gov/pubmed/11299119' %>. 
		Annals of Tropical Medicine and Parasitology, v. 95, p. 117-132, 2001.
	</li>
</ul>

<hr/>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'p1.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'p2.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'p3.jpeg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'p4.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'p5.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'p6.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'p7.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'p8.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
</ul>

