<% provide(:page_name, "research") %>

<h1>Research Interests</h1>

<p>
	My fields of study are:
	<ul>
		<li><%= link_to 'Biology', 'http://pt.wikipedia.org/wiki/Biology' %></li>
		<li><%= link_to 'Parasitology', 'https://en.wikipedia.org/wiki/Parasitology' %></li>
		<li><%= link_to 'Biochemestry', 'http://en.wikipedia.org/wiki/Biochemistry' %></li>
		<li><%= link_to 'Molecular Biology', 'http://en.wikipedia.org/wiki/Molecular_biology' %></li>
		<li><%= link_to 'Genetic Engineering', 'https://en.wikipedia.org/wiki/Genetic_engineering' %></li>
	</ul>
	You can find my online CV (in portuguese) 
	<%= link_to 'here', 'http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4762704J3'%>.
</p>

<p>
	Right now I'm working with <%= link_to 'biofuels', 'https://en.wikipedia.org/wiki/Biofuel' %>. 
	I'm trying to perform genetic transformations on the lipid biosynthesis pathways of some 
	<%= link_to 'microalgae', 'http://en.wikipedia.org/wiki/Microphyte' %> species aiming 
	the increase of oil amount and quality to produce biofuels.
</p>

<p>
	My project has been supported by <%= link_to 'FAPESP', 'http://www.bv.fapesp.br/en/pesquisador/40567/angela-pedroso-tonon/' %>.
</p>

<hr/>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'r1.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'r2.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'r3.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'r4.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'r5.jpeg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'r6.jpg', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'r7.jpg', alt: 'Angela Pedroso Tonon', size: '150x150' %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag 'r8.png', alt: 'Angela Pedroso Tonon', size: '200x200' %>
    </div>
  </li>
</ul>

